*{
    padding: 0%;
    margin: 0%;
}
body {
    background-color: #585551;
}
h1 {
    color: #000dff;
    font-size: 50px;
}
h2{
    color: #7fffd4;
    font-size: 40px;
}
#mij{
    background-color: #000dff;
}
img{
    width: 100px;
    background-color: #7fffd4;
}
span{
    color: #cece26;
}
label{
    display: block;
}
li{ 
    display: inline;
}
section{
    background-color: #000dff;
}
footer{
    background-color: #000dff;
    text-align: center;
}
#verzent{
    border-radius: 15px;
}
#opmerking{
    border-color: #cb0d0d;
}
#opmerking:focus{
    border-color: #adff2f;
    outline: none;
}
table, tr, td{
    border: solid #000000;
    padding-top: 50px;
}
.orangje{
   background-color: #ffa500;
   color: #008000;
}
.paars{
    background-color: #800080;
    color: #000000;
}
.blouw{
    background-color: #000dff;
    color: #000;
}
.geel{
    background-color: #e3ff2f;
    color: #000;
}
.orangje:hover{
    cursor:pointer;
    background-color: #7fffd4;
    
}
.blouw:hover{
    cursor:pointer;
    background-color: #cb0d0d;
}
.geel:hover{
    cursor:pointer;
    background-color: #800080;
}
.paars:hover{
    cursor:pointer;
    background-color: #adff2f;
}
p{
    color: #008000;
    size: 10px;
}